<!DOCTYPE html>
<html lang="en">
    {% load static tailwind_tags %}
    {% load static  %}
<head>
   
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>
    <link href="{% static 'portfolioCode/css/output.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap" rel="stylesheet">
<style>
    .protest-guerrilla-regular {
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sofadi-one-regular {
  font-family: "Sofadi One", system-ui;
  font-weight: 400;
  font-style: normal;
}


</style>
</head>
<body>
    <!-- header section -->
    <header class="bg-rose-50 text-rose-900">
        <nav class="block">
        <div class=" flex justify-between items-center w-[97%] mx-auto h-20 ">
            <div class="flex items-center justify-around w-[25%]"> 
                <img class="  w-5 h-5 lg:w-10 lg:h-10 rounded-full" src="{% static 'portfolioCode/img/logopic.jpg'%} ">
                <h1>  <label  class="protest-guerrilla-regular text-lg lg:text-2xl">{{basicInfo.logo}} </label></h1>
            </div>
  
      
            <div class="">
                <ul class="flex items-center gap-5 lg:gap-9 font-medium" >
                    <li><a class="hover:text-rose-300" href=" " >HOME</a></li>
                    <li><a class="hover:text-rose-300" href="../project/1/" >PROJECTS</a></li>
                    <li><a class="hover:text-rose-300" href="../blog/1/" >BLOG</a></li>
                    <li><a class="hover:text-rose-300" href="#footer" >CONTACT ME</a></li>
                </ul>

            </div>
        
          
        </div>
        <div class=" lg:w-[60%]  w-[95%] mx-auto my-10 lg:p-10 ">  
            
            <p class="sofadi-one-regular text-2xl border-pink-300 border-2 p-5 items-center  shadow-2xl shadow-red-200"> {{basicInfo.aboutme}}<br><br>
                          
               
            </p>
            <button class="lg:w-30 lg:mx-60 lg:my-5 p-3 mx-20 text-white bg-rose-300 border-white border-2 hover:bg-white hover:text-rose-300 hover:border-pink-300 "> Download my CV </button> 


        </div>
       
        </nav>
    </header>
        <!-- container section -->
    <container>
  <!-- projects section -->
        <div class=" lg:w-[20%]  w-[65%] mx-auto  my-10 py-10 text-stone-400 text-xl protest-guerrilla-regular">
            
                 ---------&  PROJECTS  &--------

        </div>
  
        <div class="flex  flex-wrap gap-10 lg:w-[95%]   text-rose-900 text-xl protest-guerrilla-regular">
        {% for project in projects %}   
            <div class=" bg-rose-50 w-[95%] lg:w-[25%]  mx-10 py-10 px-5   shadow-xl shadow-red-200">
                <img class="w-[20%] h-10 rounded-full mx-auto " src="{% static 'portfolioCode/img/project.png' %}">
                <h1 class="py-5 ">{{ project.title}}</h1>
                <p class="sofadi-one-regular text-stone-600">{{project.partOfabout}} </p>
                
           
                
               <a href="/portfolio/project/{{ project.id }}/" ><button class="w-[90%] p-3 text-rose-900 border-pink-300 border-2  hover:bg-white hover:text-stone-600 hover:border-white  "> Read more</button> </a>

            </div>
        
            {% endfor %}
           
        
        </div>
        <!-- blog section -->
        <div class=" lg:w-[20%]  w-[65%] mx-auto  my-10 py-10 text-stone-400 text-xl protest-guerrilla-regular">
            
            ---------&  BLOG  &--------

   </div>
       <div class="flex  flex-wrap gap-10 lg:w-[95%]   text-rose-900 text-xl protest-guerrilla-regular">
   
        {% for article in blogArticles %}
        
        <div class=" bg-rose-50 w-[95%] lg:w-[25%]  mx-10 py-10 px-5   shadow-xl shadow-red-200">
            <img class="w-[20%] h-10 rounded-full mx-auto " src="{% static 'portfolioCode/img/blog.png' %}">
            <h1 class="py-5 ">{{article.title}}</h1>
            <p class="sofadi-one-regular text-stone-600">{{article.partOfarticle}} </p>
            
         
          <a href="/portfolio/blog/{{ article.id }}/"> <button class="w-[90%] p-3 my-3 text-rose-900 border-pink-300 border-2  hover:bg-white hover:text-stone-600 hover:border-white  "> Read more</button> </a>

        </div>


        {% endfor %}
    
        

    
    </div>
    

   

    </container>

      <!-- footer section -->
       
      <div class=" lg:w-[20%]  w-[65%] mx-auto  my-10 py-10 text-stone-400 text-xl protest-guerrilla-regular">
            
        ---------&  CONTACT ME  &--------

</div>

    <footer id="footer" class="bg-red-200  text-stone-800 sofadi-one-regular">
        <div class="w-[90%] mx-auto  lg:flex py-5">
            <div >
            <h1 class="protest-guerrilla-regular my-5"> I would be happy to have further communication with you. </h2>
            <paragraph  class="flex  gap-3  my-3">
                <a href="{{basicInfo.whatsappLink}}"> <img src="{% static 'portfolioCode/img/whatsapp.png' %}" class="w-7 h-7 rounded"> </a>
               
                <h3>{{basicInfo.whatsappNo}} </h3>
        
            </paragraph >
            <paragraph  class="flex   gap-3  my-3">
                <a href="{{basicInfo.telegramLink}}"> <img src="{% static 'portfolioCode/img/telegram.png' %}" class="w-7 h-7 rounded"> </a>
              
                <h3>{{basicInfo.telegramName}}</h3>
        
            </paragraph >
            <paragraph   class="flex   gap-3 my-3">
                <a href="{{basicInfo.linkedInlink}}"> <img src="{% static 'portfolioCode/img/linkedin.png' %}" class="w-7 h-7 rounded"> </a>
               
                <h3>{{basicInfo.linkedInName}} </h3>
        
            </paragraph >
            <paragraph   class="flex  gap-3  my-3">
                <a href="{{basicInfo.githubLink}}"> <img src="{% static 'portfolioCode/img/github.png' %}" class="w-7 h-7 rounded"> </a>
               
                <h3>{{basicInfo.githubName}} </h3>
        
            </paragraph >
            </div>
            <form class="lg:w-[40%] py-2 mx-auto" method="POST" action="{% url 'contact' %}">
                {% csrf_token %}
                
                <!-- Name field -->
                <input type="text" id="name" name="name" value="{{ form.name.value }}" class="border-collapse border-2 mb-10 w-[100%] py-2 rounded px-10" placeholder="Enter your name">
                {% if form.name.errors %}
                    <div class="error">{{ form.name.errors }}</div>
                {% endif %}
                <br>
            
                <!-- Email field -->
                <input type="email" id="email" name="email" value="{{ form.email.value }}" class="border-collapse border-2 mb-10 w-[100%] py-2 rounded px-10" placeholder="Enter your Email">
                {% if form.email.errors %}
                    <div class="error">{{ form.email.errors }}</div>
                {% endif %}
                <br>
            
                <!-- Message field -->
                <textarea id="message" name="message" class="border-collapse rounded border-2 px-10 py-100 w-[100%] py-7 resize-none" placeholder="Share your message">{{ form.message.value }}</textarea>
                {% if form.message.errors %}
                    <div class="error">{{ form.message.errors }}</div>
                {% endif %}
            
                <!-- Submit button -->
                <button class="w-[40%] p-3 rounded-2xl my-3 text-rose-900 border-pink-300 border-2 hover:bg-pink-300 hover:text-white hover:border-white" type="submit">
                    Send message
                </button>
            </form>
            
            </div>
    </footer>
       
    
</body>
</html>